.hrCom{
    margin-top: 4.4vw;
    // width: 78.6668vw;
    height: 0.1333vw;
    border-top: 0.1333vw solid transparent;
    border-bottom: 0.1333vw solid  #DCDEE2;;
    border-left: 0.1333vw solid transparent;
    border-right: 0.1333vw solid transparent;
}