.setTask{
     margin: 5.3333vw 5.3333vw;
     .setTask-add{
        width: 89.3334vw;
        height: 11.7333vw;
        line-height: 11.7333vw;
        background: #4D85FF;
        margin-bottom: 2.1333vw;
        color: #FFFFFF;
        .plus_sign{
            color: #FFFFFF;
            width: 4.5333vw;
            height: 4.5333vw;
            margin-right: 2.1333vw;
            transform: translateY(0.7vw);
        }
     }
}