.inputCom{
    margin-top: 5.3333vw;
    .label{
        font-size: 4vw;
        margin-bottom: 3.2vw;
        color: #767B83;
    }
    .input-ph{
        font-size: 4vw;
        color: #BCC0C6;
        // padding-left: 3.2vw;
    }
    .input{
        width: 89.3333vw;
        height: 11.7333vw;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 1.0667vw;
        border: 0.1333vw solid #CDD3DF;
        padding-left: 3.2vw;
    }
}