.wageList{
    margin: 5.3333vw 5.3333vw;
    .wageList-save{
        width: 89.3334vw;
        height: 11.7333vw;
        line-height: 11.7333vw;
        background: #4D85FF;
        margin-bottom: 2.1333vw;
        color: #FFFFFF;
        margin-top: 5.3333vw;
    }
}