.index{
    position: relative;
    .logoImage{
        position: absolute;
        top:25.6vw;
        left: 39.3333vw;
        width: 21.3333vw;
        height: 25.7333vw;
    }
    .buttons{
        position: absolute;
        top:70vw;
        left: 5.3333vw;
    }
}
