.LoginButton{
    width: 89.3333vw;
    height: 11.7333vw;
    line-height: 11.7333vw;
    background: #40BC57;
    border-radius: 5.8667vw;
    color: #FFFFFF;
    margin-bottom: 5.3333vw;
    text-align: center;
}